<header>
  <div class="banner-image">
    <div>
      <img src="../src/assets/images/logos/inhabitent-logo-tent-white.svg" alt="Logo Of Inhabitent">
      <ul>
        <li>SHOP</li>
        <li>JOURNAL</li>
        <li>ABOUT</li>
        <li>FIND US</li>
        <li><i class="fa fa-search" aria-hidden="true"></i></li>
      </ul>
    </div>
  </div>
</header>
<section class="main">
  <div>
    <h2 class="story-padding"> OUR STORY </h2>
    <p>Inhabitent Camping Supply Co. has been Vancouver baked-good icon for more than two whole months! Customers often comment on the bustle of activity they see in store…that’s where the magic happens every day.</p>

    <p>We want to bridge the gap between the comfort of city life and the lovely Instagram-worthiness of the great outdoors that surround us. We sell gear that’s fun and functional. So much fun, in fact, that you’ll want to pitch a tent inside your one-bedroom apartment so you can use it everyday.</p>
  </div>

  <div>
    <h2 class="team-padding"> OUR TEAM </h2>
    <p>Inhabitent Camping Supply Co.’s staff is made up of an amazing team of inspired retail associates. We really know our stuff when it comes to travel hammocks and campfire cooking gadgets. From a provincial park campground to the back-country, our staff knows what you need to outfit your outdoor outing.</p>

    <p>Our shop in nestled away in a lovely little corner of Vancouver. Pop in, say hi, and try out our tents!</p>
  </div>
</section>
