* {box-sizing: border-box;
   padding: 0;
   margin: 0;}

.flex {display: flex;}
.just-cont-cent {justify-content: center;}
.just-cont-between {justify-content: space-between;}
.just-space-around {justify-content: space-around;}
.align-item-cent {align-items: center;}
.flex-end {align-content: flex-end;}
.dir-col {flex-direction: column;}
.dir-row {flex-direction: row;}
.align-cont-cent {align-content: center;}
.flex-grow-1 {flex-grow: 1;}


/*INHABITENT JOURNAL SECTION*/

.journal {display: flex;
flex-direction: column;
/*padding: 20px;*/
align-items: center;}

.journal h1 { font-family: "Novecentosanswide-Normal";
    font-size: 1.5em;
    padding: 20px;}

.journal-entry {display: flex;
      flex-direction: row;}

.entry {border-style: solid;
border-width: 1px 1px 1px 1px;
border-color: #a3a2a2;
width: 35%;
margin: 5px;}

.entry-img {height:30vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 3px solid #a3a2a2;}

.entry-content { padding-left: 10px;}

.entry-content p {font-family: "Merriweather-Light";
        font-size: 10px;
        padding: 10px 0px 5px 0px;}

.entry-content h2 {font-family: "Novecentosanswide-DemiBold";
         font-size: 20px;
         padding-bottom: 10px;}

.entry-button {border: 1px solid black;
     background-color: white;
     color: black;
     padding: 10px 20px;
     margin-bottom: 10px;
     font-family: "Novecentosanswide-Normal";}



@font-face {font-family: "Merriweather-Bold";
            src: url("../../assets/fonts/Merriweather/Merriweather-Bold.ttf");}

@font-face {font-family: "Merriweather-BoldItalic";
            src: url("../../assets/fonts/Merriweather/Merriweather-Bolditalic.ttf");}

@font-face {font-family: "Merriweather-Light";
            src: url("../../assets/fonts/Merriweather/Merriweather-Light.ttf");}

@font-face {font-family: "Merriweather-Italic";
            src: url("../../assets/fonts/Merriweather/Merriweather-LightItalic.ttf");}

@font-face {font-family: "Novecentosanswide-DemiBold";
            src: url("../../assets/fonts/Novecento/Novecentosanswide-DemiBold.ttf");}

@font-face {font-family: "Novecentosanswide-Normal";
            src: url("../../assets/fonts/Novecento/Novecentosanswide-Normal.ttf");}
