<!--INHABITENT JOURNAL SECTION-->

<section class="journal">
  <h1> INHABITENT JOURNAL </h1>

  <div class="journal-entry">
    <div class="entry">
        <img src="./assets/images/blog-photos/van-camper.jpg" alt="Van Camping Photo" class="entry-img">
      <div class="entry-content">
        <p> 14th April 2016 / 3 Comments </p>
        <h2> VAN CAMPING PHOTO CONTEST </h2>
        <button type="button" name="button" class="entry-button"> READ ENTRY </button>
      </div>
    </div>

    <div class="entry">
        <img src="./assets/images/blog-photos/warm-cocktail.jpg" alt="Warm Cocktail Photo" class="entry-img">
      <div class="entry-content">
        <p> 2nd April / 0 Comments</p>
        <h2> FIRESIDE LIBATIONS: 3 WARM COCKTAIL RECEPIES </h2>
        <button type="button" name="button" class="entry-button"> READ ENTRY </button>
      </div>
    </div>

    <div class="entry">
        <img src="./assets/images/blog-photos/healthy-camp-food.jpg" alt="Healthy Camp Food Photo" class="entry-img">
      <div class="entry-content">
        <p> 31st March 2016 / 0 Comments </p>
        <h2> HOW TO: EATING HEALTHY MEALS IN THE WILD </h2>
        <button type="button" name="button" class="entry-button"> READ ENTRY </button>
      </div>
    </div>
  </div>
</section>
