<section class="main">
  <article class="adv-blog">
      <h2> STAR-GAZING AT THE NIGHT SKY</h2>
      <h4>BY MANDI WISE</h4>
      <p>Tote bag pitchfork food truck kickstarter quinoa sustainable. Literally +1 normcore bitters selvage, meditation bicycle rights jean shorts fap crucifix put a bird on it. Art party chillwave craft beer, distillery PBR&B hoodie salvia bespoke keytar. Meditation chicharrones chartreuse meggings. Tattooed franzen narwhal tote bag. Raw denim chambray mlkshk tofu synth. Sartorial mlkshk four loko meggings, lumbersexual butcher vegan photo booth small batch vice pop-up salvia truffaut heirloom disrupt. </p>

      <p>You probably haven't heard of them ethical migas pour-over. You probably haven't heard of them freegan hoodie butcher wayfarers truffaut. Artisan squid mustache thundercats +1. Asymmetrical selvage plaid butcher. Cronut small batch fashion axe blog VHS ennui. Vegan biodiesel four loko chambray, pickled marfa shoreditch sartorial chia stumptown mumblecore put a bird on it tacos. Keytar blue bottle tacos, stumptown skateboard pug sriracha ramps offal fap.</p>

      <p>Stumptown lomo migas squid, ennui flexitarian normcore swag four dollar toast neutra authentic YOLO pour-over messenger bag organic. Chia distillery tofu sriracha lomo. Retro food truck hammock, pinterest next level everyday carry fanny pack meh typewriter pug bespoke tilde wayfarers williamsburg. Readymade flannel iPhone hella, brooklyn asymmetrical tacos actually humblebrag tilde affogato four dollar toast post-ironic blue bottle. Fashion axe mumblecore cornhole scenester. Authentic tofu XOXO vegan literally. Yuccie single-origin coffee fixie food truck, hashtag cardigan poutine hoodie slow-carb fanny pack flexitarian.</p>

  </article>
            <!--FORM SECTION-->

  <section class="blog-entry">
    <h2> NEW BLOG  ENTRY </h2>
    <form class="detail">
      Title:  <input type="text" name="Title"> <br><br>
      Author:  <input type="text" name="Author"> <br><br>
      Image:  <input type="text" name="Image Url"> <br><br>
      Content: <br>
      <textarea rows="20" cols="80" name="Content">
      </textarea>
      </form>
      <button type="button" name="button" class="form-button">Submit Entry </button>
  </section>
  </section>
