<!--SINGLE ADVENTURE STORY SECTION-->

<section class="main">
  <article class="adv-blog">
      <img src="">
      <!-- {{currentBLog.image}} -->
      <!-- <p> {{currentBLog.image}} </p> -->
      <h2> </h2>
      <!-- {{currentBlog.title} } -->
      <h4> </h4>
      <!-- {{currentBlog.auhor}}  -->
      <p>  </p>
      <!-- {{currentBlog.date}} -->
      <p>  </p>
      <!-- {{currentBlog.content}} -->
  </article>

            <!--FORM SECTION-->
<app-submit-entry> </app-submit-entry>

  </section>
