<!--SHOP STUFF SECTION-->
<section class="main">
<section class="shop-stuff">
<h1> SHOP STUFF </h1>

<div class="stuffs">
<div class="stuff-cat">
  <img src="./assets/images/product-type-icons/do.svg" alt="Do Stuff Icon">
  <p> Get back to nature with all the tools and toys you need to enjoy the great outdoors. </p>
  <button type="button" name="button" class="shop-button"> DO STUFF </button>
</div>

<div class="stuff-cat">
  <img src="./assets/images/product-type-icons/eat.svg" alt="Do Stuff Icon">
  <p> Nothing beats food cooked over a fire. We have all you need for good camping eats. </p>
  <button type="button" name="button" class="shop-button"> EAT STUFF </button>
</div>

<div class="stuff-cat">
  <img src="./assets/images/product-type-icons/sleep.svg" alt="Do Stuff Icon">
  <p> Get a good night's rest in the wild in a home away from home that travels well. </p>
  <button type="button" name="button" class="shop-button"> SLEEP STUFF </button>
</div>

<div class="stuff-cat">
  <img src="./assets/images/product-type-icons/wear.svg" alt="Do Stuff Icon">
  <p> From flannel shirts to toques, look the part while roughing it in the great outdoors. </p>
  <button type="button" name="button" class="shop-button"> WEAR STUFF </button>
</div>
</div>
</section>
