<section class="adv">
  <h1> LATEST ADVANTURES </h1>

    <div class="adv-cat1">
      <div class="adv-log1 flex-grow-1">
        <p class="adv-p">Getting Back To Nature in a Canoe</p>
        <button type="button" name="button" class="adv-button"> READ MORE </button>
      </div>
      <div class="adv-cat2">
        <div class="adv-log2 flex-grow-1">
          <p class="adv-p">A Night with Friends at the  Beach</p>
          <button type="button" name="button" class="adv-button"> READ MORE </button>
        </div>

        <div class="adv-cat3 flex-grow-1">
          <div class="adv-log3 flex-grow-1">
            <p class="adv-p">Taking in the View at Big Mountain</p>
            <button type="button" name="button" class="adv-button"> READ MORE </button>
          </div>

          <div class="adv-log4 flex-grow-1">
            <p class="adv-p">Star-Gazing at the Night Sky</p>
          <button type="button" name="button" class="adv-button"><a href="/single-adventure-post">  READ MORE </a> </button> 
          </div>
        </div>
      </div>
    </div>

    <div class="adv-button-more">
      <button type="button" name="button" class="more-adv-button"> MORE ADVENTURES </button>
  </div>
</section>
