* {box-sizing: border-box;
   padding: 0;
   margin: 0;}

.flex {display: flex;}
.just-cont-cent {justify-content: center;}
.just-cont-between {justify-content: space-between;}
.just-space-around {justify-content: space-around;}
.align-item-cent {align-items: center;}
.flex-end {align-content: flex-end;}
.dir-col {flex-direction: column;}
.dir-row {flex-direction: row;}
.align-cont-cent {align-content: center;}
.flex-grow-1 {flex-grow: 1;}

                      /*LATEST ADVANTURE SECTION*/

.adv {display: flex;
      flex-direction: column;
      padding-bottom:  20px;
      align-items: center;}

.adv  h1 {font-family: "Novecentosanswide-Normal";
          font-size: 1.5em;
          padding: 20px;
          z-index: 1000;}

.adv-cat1 {display: flex;
           margin: 5px;
           width: 100%}

.adv-log1 {
            background-image: /*linear-gradient(rgba(0, 0, 0, 0.3)),*/ url("../../assets/images/adventure-photos/canoe-girl.jpg");*/
            height: 50vh;
            /*width: 50%;*/
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
            margin: 0px 5px 0px 0px;
            padding: 30px 20px; }

.adv-cat2 {display: flex;
           flex-direction: column;
           width: 50%;}

.adv-log2 {
            background-image: /*linear-gradient(rgba(0, 0, 0, 0.3)),*/ url("../../assets/images/adventure-photos/beach-bonfire.jpg");
            height: 25vh;
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
            margin: 0px 0px 5px 5px;
            padding: 30px 20px;}

.adv-cat3 { display: flex;
            flex-direction: row;}

.adv-log3 {
            background-image: /*linear-gradient(rgba(0, 0, 0, 0.3)),*/ url("../../assets/images/adventure-photos/mountain-hikers.jpg");
            height: 25vh;
            /*width: 100%;*/
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
            margin: 5px 5px 0px 5px;
            padding: 30px 20px;}

.adv-log4 {
            background-image: /*linear-gradient(rgba(0, 0, 0, 0.3)),*/ url("../../assets/images/adventure-photos/night-sky.jpg");
            height: 25vh;
            /*width: 100%;*/
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
            margin: 5px 0px 0px 5px;
            padding: 30px 20px;}

.adv-p {font-family: "Merriweather-Light";
        font-size:20px;
        color: white;
        padding: 10px 0px 30px 0px;}

.adv-button {background: none;
             border: 1px solid white;
             color: white;
             padding: 10px 20px;
             margin-bottom: 10px;
             font-family: "Novecentosanswide-Normal";}

.more-adv-button {background-color: #18665e;
                  color: white;
                  border: none;
                  padding: 10px 20px;
                  margin-bottom: 10px;
                  font-family: "Novecentosanswide-Normal";}

.adv-button-more { display: flex;
                  align-self: flex-start;
                  margin: 20px 0px 0px 5px;}


                  /*FOOTER SECTION*/
footer {display: flex;
        padding: 20px;
        align-items: center;
      }

.footer-image {
                background-image: url("../../assets/images/dark-wood.png");
                height: 30vh;
                background-size: cover;
                background-repeat: no-repeat;}
/*
.info p {color: white;
         line-height: 2em;}

.info h4 {font-family: "Novecentosanswide-DemiBold";
                  color: #c97f31;
                  line-height: 2em;}*/

                    /*FONT FAMILY*/

@font-face {font-family: "Merriweather-Bold";
            src: url("../../assets/fonts/Merriweather/Merriweather-Bold.ttf");}

@font-face {font-family: "Merriweather-BoldItalic";
            src: url("../../assets/fonts/Merriweather/Merriweather-Bolditalic.ttf");}

@font-face {font-family: "Merriweather-Light";
            src: url("../../assets/fonts/Merriweather/Merriweather-Light.ttf");}

@font-face {font-family: "Merriweather-Italic";
            src: url("../../assets/fonts/Merriweather/Merriweather-LightItalic.ttf");}

@font-face {font-family: "Novecentosanswide-DemiBold";
            src: url("../../assets/fonts/Novecento/Novecentosanswide-DemiBold.ttf");}

@font-face {font-family: "Novecentosanswide-Normal";
            src: url("../../assets/fonts/Novecento/Novecentosanswide-Normal.ttf");}
